<div *ngIf="credit">
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">{{title}}</span>
        <span> | <a routerLink="/credit/list">Return to List</a></span>
    </section>
    <main class="single">
        <table class="table table-sm">
            <tr>
                <td>ID:</td>
                <td>{{credit.id}}</td>
            </tr>
            <tr>
                <td>Actor:</td>
                <td *ngIf="credit.actor"><input [(ngModel)]="credit.actor.lastName + ', ' + credit.actor.firstName" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Movie:</td>
                <td *ngIf="credit.movie"><input [(ngModel)]="credit.movie.title" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Role:</td>
                <td><input [(ngModel)]="credit.role" class="rounded" type="text" disabled></td>
            </tr>
        </table>
    </main>
    <span>
        <span><a routerLink="/credit/edit/{{credit.id}}" class="btn btn-sm btn-warning">Edit</a></span>
        <span> | <button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>
    </span>
</div>