<div *ngIf="actor">
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">{{title}}</span>
        <span> | <a routerLink="/actor/list">Return to List</a></span>
    </section>
    <main class="single">
        <table class="table table-sm">
            <tr>
                <td>ID:</td>
                <td>{{actor.id}}</td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td><input [(ngModel)]="actor.firstName" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td><input [(ngModel)]="actor.lastName" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Gender:</td>
                <td><input [(ngModel)]="actor.gender" class="rounded" type="text" disabled></td>
            </tr>
            <tr>
                <td>Birth Date:</td>
                <td><input [(ngModel)]="actor.birthDate" class="rounded" type="text" disabled></td>
            </tr>
        </table>
    </main>
    <span>
        <span><a routerLink="/actor/edit/{{actor.id}}" class="btn btn-sm btn-warning">Edit</a></span>
        <span> | <button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>
    </span>
    <br><br>
    <section class="heading">
        <span class="page-title font-weight-bold font-italic">Filmogrophy</span>
    </section>
    <table class="table table-sm">
        <tr>
            <td class="font-weight-bold">ID</td>
            <td class="font-weight-bold">Movie</td>
            <td class="font-weight-bold">Role</td>
        </tr>
        <tr *ngFor="let credit of credits">
            <td>{{ credit.id }}</td>
            <td><a routerLink="/movie/detail/{{credit.movie.id}}">{{ credit.movie.title }}</a></td>
            <td>{{ credit.role }}</td>
        </tr>
    </table>
</div>