<span class='component-title'>[{{ title }}]</span>
<span>+</span>
<table *ngIf="credits" class="table table-sm table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Actor</th>
            <th>Movie</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let credit of credits">
            <td>{{ credit.id }}</td>
            <td>{{ credit.actor.lastName }}, {{ credit.actor.firstName }}</td>
            <td>{{ credit.movie.title }}</td>
            <td>{{ credit.role }}</td>
        </tr>
    </tbody>
</table>